@font-face {
	font-family: LeagueSpartan-Bold;
	src: url(/assets/css/fonts/LeagueSpartan-Bold.otf);
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;	
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

header, article, footer {
	display: block;
	padding: 0 15px;
}

header {
	background: #dfe6e9;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(161,145,161,1);
	box-shadow: 0px 0px 10px 0px rgba(161,145,161,1);
	overflow: hidden;	
}

header nav {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-width: 290px;
}

header nav ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: table-cell;
	vertical-align: middle;
	list-style: none;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
	color: #2d3436;
	cursor: pointer;
	font-family: "LeagueSpartan-Bold", sans-serif;
	-webkit-transition: 200ms color;
	-o-transition: 200ms color;
	transition: 200ms color;
	-ms-transition: 100ms color;
	-webkit-transition: 100ms color;
	-moz-transition: 100ms color;	
}

header nav ul li:hover {
	color: #74b9ff;
	text-decoration: underline;
}

header nav ul li div {
	position: relative;
	padding: 15px 1px;

}

header nav ul li:not(:last-child) div::after {
	display: block;
	position: absolute;
	content: ' ';
	background: #b2bec3;
	height: 70%;
	width: 1px;
	top: 15%;
	right: 0;
}


h1 {
	font-size: 3rem;
	line-height: 3.2rem;
	color: #0984e3;
	font-family: "LeagueSpartan-Bold", sans-serif;
	margin: 1rem 0;
}

h1::after {
	display: block;
	margin: 1rem auto;
	width: 75px;
	height: 1px;
	background: #b2bec3;
	content: ' ';
}

h2 {
	font-size: 2.4rem;
	margin: 1rem 0;
	line-height: 2.6rem;
	font-family: 'Open Sans', sans-serif;
}

h3, h3 a {
	font-size: 2rem;
	line-height: 2.4rem;
	color: #0984e3;
	font-family: "LeagueSpartan-Bold", sans-serif;
	margin: 1rem 0;	
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 2rem;
}

article .main {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
	border-bottom: solid 1px #dfe6e9;	
}

article .main .track {
	width: 100%;
}

article .main .track .slide {
	width: 100%;
	text-align: center;
	display: none;
}

article .main .track .slide.active {
	display: block;
}

.title-nav {
	padding-left: 60px;
	padding-right: 60px;
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
}

.title-nav [data-dir] {
	position: absolute;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: #0984e3;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.title-nav [data-dir].end {
	display: none;
}

.title-nav [data-dir='l'] {
	left: 15px;
	top: 35%;
	-webkit-transform: translateY(-50%) rotate(135deg);
	    -ms-transform: translateY(-50%) rotate(135deg);
	        transform: translateY(-50%) rotate(135deg);;
}

.title-nav [data-dir='r'] {
	right: 15px;
	top: 35%;
	-webkit-transform: translateY(-50%) rotate(-45deg);
	    -ms-transform: translateY(-50%) rotate(-45deg);
	        transform: translateY(-50%) rotate(-45deg);
}

footer > div  {
	padding: 35px 0;
}

#about p {
	text-align: left;
	display: block;
	line-height: 2.4rem;
	margin: 1.4rem auto;
}

#contact form {
	position: relative;
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 15px 0;
}

#contact form > div {
	position: relative;
}

#contact form > div:last-child {
	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 2rem;
	line-height: 2.4rem;
	color: #0984e3;
	font-family: "LeagueSpartan-Bold", sans-serif;	
}

#contact form.complete > div:first-child {
	opacity: 0;
	z-index: -1;
}

#contact form.error::before {
	display: block;
	color: red;
	content: 'Please include your name, a valid email, and a message.';
	font-family: "LeagueSpartan-Bold", sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 0 auto 15px 0;
}

#contact form.complete > div:last-child {
	opacity: 1;
	z-index: 999;
}

#contact form input[type="text"] {
	border: solid 1px #0984e3;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 5px 10px;
	display: block;
	margin: 10px auto;
	width: 100%;
	height: 4rem;
}

#contact form textarea {
	border: solid 1px #0984e3;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 5px 10px;
	display: block;
	margin: 10px auto;
	width: 100%;
	min-height: 200px;	
}

#contact form input[type="submit"] {
	border: solid 1px #0984e3;
	background: #0984e3;
	color: #fff;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	cursor: pointer;
	font-size: 2.5rem;
	line-height: 3rem;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 5px 10px;
	display: block;
	margin: 20px auto 0 auto;
	width: 100%;
	height: 4rem;
	-webkit-appearance: none;
}

footer > div > div {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;		
}
footer > div > div a {
	display: inline-block;
	margin: 0 3px 10px 3px;
	font-size: 3rem;
	color: #0984e3;
	text-decoration: none;	
}

@media (max-width: 600px){
	html, body {
		font-size: 8px;
	}
}