.todo-form  {
	width: 100%;
	max-width: 400px;
	margin: 30px auto;
	font-size: 0;
}

.todo-form input[type="text"] {
	font-size: 2rem;
	font-weight: 700;
	border: solid 1px #0984e3;
	color: #0984e3;
	font-family: "Open Sans", sans-serif;	
	display: inline-block;
	outline: none;
	padding: 10px;
	margin: 0;
	width: 80%;
	border-radius: 4px 0 0 4px;
}
.todo-form input[type="submit"] {
	border-radius: 0 4px 4px 0;
	font-size: 2rem;
	font-weight: 700;
	display: inline-block;
	border: solid 1px #0984e3;
	background: #0984e3;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	outline: none;
	padding: 10px 0;
	cursor: pointer;
	margin: 0;
	width: 20%;
	-webkit-appearance: none;
}

.todo-item {
	display: block;
	position: relative;
	width: 100%;
	padding: 10px;
	max-width: 400px;
	margin: -15px auto 30px auto;
	text-align: left;
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	background: #0984e3;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	overflow: hidden;		
}

.todo-item::after {
	display: block;
	content: '-';
	width: 20%;
	padding: 10px 0;
	right: 0;
	top: 0;
	text-align: center;
	position: absolute;
}